/* Setiap selector CSS memiliki berat/prioritas yang berbeda, tergantung elemen apa yang dipilih.
Urutan prioritas (dari atas ke bawah):

Kalkulator penghitungan berat/prioritas: https: //specificity.keegan.st/
*/

p {
    color: blue;
}

/* CSS inilah yang akan diterapkan elemen "p" pada browser, karena CSS ini lebih terkahir ditulis, jadi dia akan menimpa CSS yang ditulis sebelumnya */
p {
    color: green;
}

/* CSS inilah yang akan diterapkan elemen "h1" dengan id "teks" pada browser, karena CSS ini lebih prioritas/berat dari pada selector "h1", meskipun ia ditulis di awal */
#teks {
    color: orange;
}

h1 {
    color: red;
}

ul#tes li {
    color: blue;
}

/* Ini akan tetap ditampilkan berwarna biru, karena beratnya lebih sedikit dari pada berat selector diatas */
.hello {
    color: red;
}